body{
    margin: 0;
    
font-family: 'Poppins', sans-serif;
 
}
#title-text{
    font-family: 'Yeseva One', cursive;
}

#footer-font{
    font-family: 'Moon Dance', cursive;
    font-size: 50px;
    
}

#main-section{
    padding:0px 60px;
}

.span-text-color{
    color: orange;
}

.flexible-container{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.half-width{
    width:50%;  
}


.half-width h1{
    font-size: 40px;
    border-left: 3px solid tomato;
    padding-left: 10px ;
}

.half-width h2{
    font-size: 30px;
}
.half-width img {
    padding-left: 24px;
    width: 80%;
}



#app-section{
    margin-top: 80px;
}
#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-width{
    width: 40%;
}

.app-width h2{
    font-size: 30px;
}
.app-width img{
    width: 70%;
}

.anchor-button{
    text-decoration: none;
    background: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    
}

.mission-heading{
    text-align: center;
    font-size: 40px;

}
.mission-container{
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

#mission-style{
    background: #4F9DA61A;
    padding: 8px;
    margin-left: 12px;
    border: 2px solid #4F9DA61A;
    border-radius: 24px;
}

#vision-style{
    background: #FF59591A;
    padding: 8px;
    margin-left: 12px;
    border: 2px solid #FF59591A;
    border-radius: 24px;
}

#goals-style{
    background: #FFF4D6;
    padding: 8px;
    margin-left: 12px;
    border: 2px solid #FFF4D6;
    border-radius: 24px;
}


.mission-container img{
    width: 30%;
}

.container {
    width: 870px;
    position: relative;
    margin: 50px auto;
  }
  .container-header {
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
    font-size: 30px;
    font-weight: bold;
  }

  .social-row {
    width: 95%;
    display: flex;
    align-items: center;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 2px 2px 25px #808080;
  }

  .social-col {
    text-align: center;
    width: 35%;
    margin-top: 30px;
  }
footer{
    background-color: black;
   padding-bottom: 20px;
}
  .footer-text{
      text-align: center;
      color: white;

  }
  .footer-text span{
      color: tomato;
  }

